.icon-arrow:before {
  content: '\e800';
}

/* '' */

.icon-info-circled:before {
  content: '\e801';
}

/* '' */

.icon-phone:before {
  content: '\e802';
}

/* '' */

.icon-angle-up:before {
  content: '\f106';
}

/* '' */