

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.portfolio-main {
  height: 100vh;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  padding-left: 5%;
  padding-right: 4%;
  overflow: hidden;
}

@media (max-width: 575.98px) {
  .portfolio-main {
    background-position: left;
  }
}

.portfolio-main__top {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 70px;
}

@media (max-width: 1199.98px) {
  .portfolio-main__top {
    padding-top: 20px;
  }
}

@media (max-width: 991.98px) {
  .portfolio-main__top {
    padding-bottom: 20px;
  }
}

.portfolio-main__caption {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 30px;
  padding-left: 9.5%;
  white-space: nowrap;
  color: #ffffff;
}

@media (max-width: 991.98px) {
  .portfolio-main__caption {
    font-size: 30px;
    padding-bottom: 10px;
  }
}
@media (max-width: 767.98px) {
  .portfolio-main__caption {
    padding-bottom: 20px;
    font-size: 25px;
  }
}

@media (max-width: 575.98px) {
  .portfolio-main__caption {
    font-size: 30px;
  }
}

.portfolio-main__list {
  overflow: hidden;
  height: 80vh;
  padding-left: 5%;
}

@media (max-width: 767.98px) {
  .portfolio-main__list {
    height: 70vh;
  }
}

@media (max-width: 575.98px) {
  .portfolio-main__list {
    height: 65vh;
  }
}

.portfolio-main__list a {
  margin-bottom: 12px;
  font-size: 18px;
  color: #a6a4a4;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  display: inline-block;
  float: left;
  clear: both;
}

@media (max-width: 991.98px) {
  .portfolio-main__list a {
    font-size: 16px;
  }
}

@media (max-width: 767.98px) {
  .portfolio-main__list a {
    font-size: 15px;
  }
}

@media (max-width: 575.98px) {
  .portfolio-main__list a {
    font-size: 13px;
  }
}

.portfolio-main__list a:hover {
  /* color: #102948; */
  color: #ffffff;
  transition: all 0.3s;
}

.portfolio-main__listWrap {
  padding-left: 5%;
}

@media (max-width: 767.98px) {
  .portfolio-main__listWrap {
    padding-left: 7%;
  }
}

@media (max-width: 575.98px) {
  .portfolio-main__listWrap {
    padding-left: 10%;
  }
}

.mCSB_scrollTools {
  right: auto;
  left: 4px;
}

@media (max-width: 767.98px) {
  .mCSB_scrollTools {
    left: 0;
  }
}

.mCS-themeMalihu.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 7px;
  border-radius: 6.5px;
  background-color: #ffffff;
  border: solid 1px #c4c4c4;
}

.mCS-themeMalihu.mCSB_scrollTools .mCSB_draggerRail {
  width: 3px;
  background-color: #c17c55;
  border-radius: 0;
}

@media (max-width: 768px) {
  .hide {
    display: none !important;
  }
}

.logofolio {
  position: absolute;
  bottom: 30px;
  right: 10%;
  z-index: 9999;
}
.logofolio a {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

@media (max-width: 1600px) {
  .logofolio {
    right: 5%;
  }
}
@media (max-width: 1300px) {
  .logofolio {
    right: 3%;
  }
}
@media (max-width: 1200px) {
  .logofolio {
    top: 20px;
    right: 15px;
  }
}

@media (max-width: 575.98px) {
  .logofolio {
    top: auto;
    bottom: 20px;
    left: calc(9.5% + 15px);
  }
}
