.icon-arrow2:before {
  content: '\e800';
}

/* '' */

.icon-arrow:before {
  content: '\e801';
}

/* '' */

.icon-envelope:before {
  content: '\e802';
}

/* '' */

.icon-chat:before {
  content: '\e803';
}

/* '' */

.icon-fb:before {
  content: '\e804';
}

/* '' */

.icon-close:before {
  content: '\e805';
}

/* '' */

.icon-mark:before {
  content: '\e806';
}

/* '' */

.icon-mark2:before {
  content: '\e807';
}

/* '' */

.icon-in:before {
  content: '\e808';
}

/* '' */

.icon-phone:before {
  content: '\e809';
}

/* '' */

.icon-search:before {
  content: '\e80a';
}

/* '' */

.icon-tw:before {
  content: '\e80b';
}

/* '' */

.icon-vk:before {
  content: '\e80c';
}

/* '' */

.icon-you:before {
  content: '\e80d';
}

/* '' */

.icon-arrow3:before {
  content: '\e80e';
}

/* '' */

.icon-upload:before {
  content: '\e80f';
}

/* '' */