
.icon-forest:before { content: '\e800'; } /* '' */
.icon-locked:before { content: '\e801'; } /* '' */
.icon-facebook:before { content: '\e802'; } /* '' */
.icon-instagram:before { content: '\e803'; } /* '' */
.icon-odnoklassniki:before { content: '\e804'; } /* '' */
.icon-youtube:before { content: '\e805'; } /* '' */
.icon-plus:before { content: '\e806'; } /* '' */
.icon-correct:before { content: '\e807'; } /* '' */
.icon-building:before { content: '\e808'; } /* '' */
.icon-doors:before { content: '\e809'; } /* '' */
.icon-insurance:before { content: '\e80a'; } /* '' */
.icon-muscle:before { content: '\e80b'; } /* '' */
.icon-paint:before { content: '\e80c'; } /* '' */
.icon-parking:before { content: '\e80d'; } /* '' */
.icon-power:before { content: '\e80e'; } /* '' */
.icon-shield:before { content: '\e80f'; } /* '' */
.icon-shop:before { content: '\e810'; } /* '' */
.icon-tree:before { content: '\e811'; } /* '' */
.icon-user-profiles:before { content: '\e812'; } /* '' */
.icon-virustotal-icon:before { content: '\e813'; } /* '' */
.icon-p:before { content: '\e814'; } /* '' */
.icon-call-answer:before { content: '\e815'; } /* '' */
.icon-mail:before { content: '\e816'; } /* '' */
.icon-clock:before { content: '\e817'; } /* '' */
.icon-mail-1:before { content: '\e818'; } /* '' */
.icon-phone-call:before { content: '\e819'; } /* '' */
.icon-pin:before { content: '\e81a'; } /* '' */
.icon-time:before { content: '\e81b'; } /* '' */