.icon-ph2:before {
  content: '\e800';
}

/* '' */

.icon-play:before {
  content: '\e801';
}

/* '' */

.icon-play-button:before {
  content: '\e802';
}

/* '' */

.icon-sent:before {
  content: '\e803';
}

/* '' */

.icon-tick:before {
  content: '\e804';
}

/* '' */

.icon-tw:before {
  content: '\e805';
}

/* '' */

.icon-users:before {
  content: '\e806';
}

/* '' */

.icon-angle:before {
  content: '\e807';
}

/* '' */

.icon-clock:before {
  content: '\e808';
}

/* '' */

.icon-env1:before {
  content: '\e809';
}

/* '' */

.icon-env2:before {
  content: '\e80a';
}

/* '' */

.icon-fd:before {
  content: '\e80b';
}

/* '' */

.icon-house:before {
  content: '\e80c';
}

/* '' */

.icon-in:before {
  content: '\e80d';
}

/* '' */

.icon-left-small:before {
  content: '\e80e';
}

/* '' */

.icon-mark:before {
  content: '\e80f';
}

/* '' */

.icon-mark2:before {
  content: '\e810';
}

/* '' */

.icon-ph:before {
  content: '\e811';
}

/* '' */

.icon-linkedin:before {
  content: '\f0e1';
}

/* '' */